{% extends "base.html" %}
{% load staticfiles %}

{% block head_js %}




{% endblock head_js %}

{% block content %}
    <!-- Page Content -->
    <table id="tablesorter-demo" class="table table-striped">
		<thead>
			<tr>
				<th>From</th>
				<th>Subject</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody>
        {% for email in emails %}
            <tr>
                <td>
                    {{ email.email_from }}
                </td>
                <td>
                    {{ email.email_subject }}
                </td>
                <td>
                    {{ email.email_date }}
                </td>
            </tr>
        {% endfor %}
		</tbody>
	</table>


{% endblock content %}

